.formcontainer {
    width: 1000px;
    padding: 5px;
}

.formlabel {
    display: inline-block;
    width: 100px;
    text-align: right;
    padding: 5px;
}
.error {
    color: red;
    padding-left: 5px;
}

h1 {
    border-bottom: 3px solid #cc9900;
    color: #996600;
    font-size: 30px;
}